<div class="container" style="max-width: 50%; margin-top: 50px;">
  <div class="row justify-content-md-center">
    <div class="col col-4">
      <div class="card">
        <div class="card-header bg-primary">
            <h5 class="card-title" style="color: white;">{{titulo}} Rol</h5>
        </div>
        <div class="card-body"> 
            <div class="form-group">
                <label for="a">Rol</label>
                <input type="text" name="nombre" class="form-control" [(ngModel)]="rolModel.nombre">
                <input type="hidden" name="idrol" class="form-control" [(ngModel)]="rolModel.idrol">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="create()">{{accion}}</button>
            </div>           
        </div>
      </div>
    </div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ROL</th>
            <th scope="coll" colspan="2">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rol of roles">
            <td>{{rol.IDROL}}</td>
            <td>{{rol.NOMBRE}}</td>
            <td>
              <a type="button" class="btn btn-warning" (click)="cargarRol(rol.IDROL)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>
              <a type="button" class="btn btn-danger"(click)="delLogica(rol.IDROL)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
</div>
</div>
