<div class="container" style="max-width: 400px;">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Modificar Rol</h5>
        </div>
        <div class="card-body"> 
            <div class="form-group">
                <label for="a">Rol</label>
                <input type="text" name="nomrol" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Registrar</button>
            </div>          
           
        </div>
      </div>
</div>

